:root {
  --backgroundColor: #222222;
}

html {
	height: 100vh;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: block;
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	place-items: center;
	background-color: var(--backgroundColor);
	color: #e7ecef;
	line-height: 1.5;
	height: 100vh;
	margin: 0;
    min-width: 0;
}

/* add to your global style sheet to avoid FOUC */
table[data-responsive-table] {
  visibility: hidden;
}

table[data-responsive-table].responsive tr {
  margin-bottom: 1.6rem;
}

table[data-responsive-table].responsive td {
  border-bottom: 2px solid var(--backgroundColor);
}

main {
	max-width: 960px;
	margin: 3rem auto;
	text-align: center;
	padding: 24px;
}

section {
	margin: 0 0 0.5rem;
	padding: 1rem 0;
}

h1 {
	margin: 0 0 1rem;
}

h2 {
	margin: 0 0 2rem;
	font-size: 1.1rem;
	opacity: 0.95;
}

p {
	margin: 0 0 16px;
	opacity: 0.9;
}

table {
	table-layout: auto;
	width: 100%;
	caption {
		margin-bottom: 2rem;
	}
}

tr {
	background: rgba(0, 0, 0, 0.25);
	color: #bbbdbe;
}

td,
th {
	margin: 0 auto;
	text-align: left;
	padding: 12px;
	border-radius: 6px;
	overflow: auto;
}

#props-description td:first-child {
	text-align: right;
	padding-right: 1rem;
}

pre.codeblock {
  max-width: 100%;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
  margin: 0 0 1rem;
}

pre.codeblock > code {
  display: block;
  max-width: 100%;
}

.codeblock {
	text-align: left;
	margin: 0 auto 8px;
	background: rgba(0, 0, 0, 0.25);
	color: #bbbdbe;
	padding: 12px;
	border-radius: 6px;
	overflow: auto;
}
