table[data-responsive-table] caption {
	display: table-caption;
}
table[data-responsive-table] thead {
	display: table-header-group;
}
table[data-responsive-table] tbody {
	display: table-row-group;
}
table[data-responsive-table] tr:not(table[data-responsive-table] thead tr) {
	display: table-row;
}
table[data-responsive-table] th,
table[data-responsive-table] td {
	display: table-cell;
}
table[data-responsive-table] thead tr {
	visibility: visible;
}
table[data-responsive-table] td:before {
	display: none;
	width: 0;
}

table[data-responsive-table].responsive caption,
table[data-responsive-table].responsive thead,
table[data-responsive-table].responsive tbody,
table[data-responsive-table].responsive tr:not(table[data-responsive-table].responsive thead tr),
table[data-responsive-table].responsive th,
table[data-responsive-table].responsive td {
	display: block;
}
table[data-responsive-table].responsive thead tr {
	visibility: collapse;
}
table[data-responsive-table].responsive td {
	display: grid;
  grid-template-columns: auto 1fr;
  text-align: right;
}
table[data-responsive-table].responsive td:before {
  font-weight: bold;
  width: auto;
}

table[data-responsive-table].responsive tbody tr {
  box-sizing: border-box;
  height: calc( var(--table-row-height) / var(--table-column-count));
  overflow-y: hidden;
}