table[data-responsive-table] caption,
table[data-responsive-table] thead,
table[data-responsive-table] tbody,
table[data-responsive-table] tr:not(table[data-responsive-table] thead tr),
table[data-responsive-table] th,
table[data-responsive-table] td {
	display: block;
}

table[data-responsive-table] thead tr {
	visibility: collapse;
}

table[data-responsive-table] td {
	display: flex;

}

table[data-responsive-table] td:before {
	width: 50%;
}
