:host {
	container-type: inline-size;
}

#responsive-table-container {
  container-type: inline-size;
}

::slotted(table[data-responsive-table]) {
	display: block;
	width: 100%;
	border-collapse: collapse;
}

/* @media only screen and (max-width: 760px) { */
@container (width > 768px) {
	::slotted(table[data-responsive-table]) {
		display: table;
	}
}
